.horizontalScroll{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%;
    height: 45vw;    
}

.img_gallery-vertical{
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}
.img_gallery-horizontal{
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(127, 255, 212, 0);
}

::-webkit-scrollbar-track{
   
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.10)
}

::-webkit-scrollbar-thumb{
    background:rgba(0, 0, 0, 0.1); 
    width: 5px;
  }

  @media (max-width: 600px) {
    
   .horizontalScroll{
       height: 485px;
       width: 100%;
       overflow-y:hidden ;
       overflow-x: scroll;
       /* width: fit-content; */
   }

    .img_gallery-vertical{
        height: 100%;
        width: 270px;
    }

    .img_gallery-horizontal{
        height: 100%;
        width: 880px;
    }
  
  }